@import '../govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import '../govuk_frontend_toolkit/stylesheets/grid_layout';
@import '../govuk_frontend_toolkit/stylesheets/typography';

.button {
  @include button;
}

.button-secondary {
  @include button($grey-3);
}

.button-warning {
  @include button($red);
}

#page-container {
  @extend %site-width-container;
}

h1 {
  @include core-48;
}

h2 {
  @include core-24($tabular-numbers: true);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  padding: 0.63158em 1.05263em 0.47368em 0;
  text-align: left;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  table th,
  table td {
    font-size: 19px;
    line-height: 1.31579;
  }
}

table thead th {
  font-weight: 700;
}

table td:last-child,
table th:last-child {
  padding-right: 0;
}

table .numeric {
  text-align: right;
}

table td.numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
}

table caption {
  text-align: left;
}

.table-font-xsmall th {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .table-font-xsmall th {
    font-size: 16px;
    line-height: 1.25;
  }
}

.table-font-xsmall td {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .table-font-xsmall td {
    font-size: 16px;
    line-height: 1.25;
  }
}

.table-font-xsmall th,
.table-font-xsmall td {
  padding: 0.75em 1.25em 0.5625em 0;
}

$logo-height: 80px;

.app {

  text-align: center;

  .title {
    font-size: 1.5em;
  }

  .logo {
    height: $logo-height;
  }

  .header {
    background-color: #abafb1;
    height: 160px;
    padding: 20px;
    color: white;
  }

  .intro {
    font-size: large;
  }

  .centre-table {
    margin: 0 auto;
    width: 60%;
  }

}